.tasks {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 0;
    grid-column-gap: 20px;
}


.task {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    .task__input {
        background: none;
        border: none;
        padding: 3px 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 22px;
        outline: 0;
        margin-bottom: 10px;
        &:focus {
            background-color: rgba(255, 255, 255, 0.05);
        }
        
        &:active {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .task__description {
        width: 100%;
        background: none;
        font-size: 14px;
        opacity: .7;
        border: 0;
        outline: 0;
        border-radius: 5px;
        resize: vertical;
        resize: vertical;
        max-height: 150px;
        min-height: 40px;
        padding: 3px 10px;
        &:focus {
            background-color: rgba(255, 255, 255, 0.05);
        }
        
        &:active {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .task__wrapper {
        display: flex;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .task__date-label {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .task__date {
        font-size: 12px;
    }

    .task__date_passed {
        color: rgb(239, 77, 48);
    }

    .task__date_not-passed {
        color: #FFCA26;
    }

    .task__file {
        margin: 10px 0;
        color: white;
        font-size: 14px;

        width: 100%;
        padding: 0 10px;
    }

    .task__status {
        font-size: 14px;
        color: rgb(239, 77, 48);

    }

    .task__status_green {
        color: green;
    }

    .task__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        margin-top: 20px;

        .task__button {
            padding: 5px;
            border-radius: 5px;
            background-color: rgb(239, 77, 48);
            border: 0;
            outline: 0;
            cursor: pointer;
        }

        .task__button_done {
            background-color: #ffc926ab;
        }
    }
}